<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bdelg013-P04.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E764BE9217FDD3A007BD558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E764BFD217FDD3A007BD558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E764C08217FDD3A007BD558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
